@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

.wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.container {
  width: 100%;
}

.search-container {
  position: relative;
  width: 100%;
  top: -8%;
  max-width: 500px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  outline: none;
  color: black; /* Ensure input text is visible */
}

.search-button {
  position: absolute;
  height: 50px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
}

.search-button i {
  margin-left: 5px;
}

.products {
  padding: 20px;
}

.products h2 {
  text-align: center;
  margin-bottom: 20px;
}

.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.product-item {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  width: 200px;
}

.product-item:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  border-color: #388E3C;
}

.product-item img {
  height: 150px;
  width: 150px;
}

.product-item a {
  text-decoration: none;
  color: black;
}

.product-item button {
  font-size: 16px;
  background-color: white;
  color: #4CAF50;
  border: 1px solid #4CAF50;
  cursor: pointer;
  padding: 7px;
  border-radius: 5px;
}

.product-item button:hover {
  background-color: #4CAF50;
  color: white;
}

.product-item button i {
  padding-right: 3px;
}

footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 14px;
}

@media (max-width: 768px) {
  .search-container {
    display: none;
  }

  .main-nav {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .menu-toggle:hover {
    border: 1px solid #4CAF50;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 16px;
  }

  .product-item {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }

  .hero p {
    font-size: 14px;
  }

  .hero button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .product-item {
    width: 100%;
  }

  footer {
    padding: 15px;
  }

  footer p {
    font-size: 12px;
  }

  .search-form input {
    font-size: 14px;
    padding: 8px;
  }

  .search-form button {
    font-size: 14px;
    padding: 8px;
  }
}

/* alert.css */
.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1001;
  animation: slide-in 0.3s forwards;
}

.close-alert {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Slideshow CSS */
.hero {
  position: relative;
  height: 500px;
  text-align: center;
  color: white;
  overflow: hidden; /* Prevents content overflow */
}

.slideshow-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slideshow-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  animation: fade 18s infinite; /* 4 seconds per image in a 16s loop */
}

.slideshow-image:nth-child(1) {
  animation-delay: 0s;
}

.slideshow-image:nth-child(2) {
  animation-delay: 6s;
}

.slideshow-image:nth-child(3) {
  animation-delay: 12s;
}

.slideshow-image:nth-child(4) {
  animation-delay: 18s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

h1{
  text-align: center;
  font-size: 40px;
}
